.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box; /* padding때문에 box 사이즈가 늘어나지 않도록 함 */
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  /* badge component와 함께 사용 */
  position: absolute; /* 새로운 레이어, relative한 부모 기준으로 이동 가능 */
  left: 20px;
  bottom: 15px;
}

.nav__light-dot {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  right: -7px;
}
